body{
    background-color: antiquewhite;
}
h1{
    text-align: center;
}
#image{
    width: 200px;
    height: 200px;
    

}
#divi{
    text-align: center;
}
#main{
    border: 3px solid black;
}